<body>
<head>
 <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="css/main.css">
</head>
<header>Kontent Website Generator</header>
{{{ content }}}
</body>